@import 'dark-theme';
@import 'light-theme';

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--admin-font-family);
    font-size: var(--admin-font-size);
    color: rgb(var(--admin-font-color));
    scroll-behavior: smooth;
}

::selection {
    color: rgb(var(--admin-selection-color));
    background-color: rgb(var(--admin-selection-bg));
}

::-moz-selection {
    color: rgb(var(--admin-selection-color));
    background-color: rgb(var(--admin-selection-bg));
}
