<!DOCTYPE html>
<html lang="zh-cmn-Hans" theme="light">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="description" content="<%= PROJECT_DESCRIPTION %>" />
    <title><%= PROJECT_NAME %></title>
  </head>
  <body>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
