menu {
    ul {
        list-style-type: none;
        will-change: width;
        box-sizing: border-box;

        height: auto;
        overflow: hidden;
        transition: height 0.4s cubic-bezier(0.34, 0.69, 0.1, 1);
    }
    li {
        margin: 0;
        will-change: width;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        cursor: pointer;
        scroll-snap-align: start;
    }

    .menu-item {
        padding: 0 28px;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        line-height: 40px;
        border-right: 4px solid transparent;
        color: rgb(var(--admin-font-color));
        font-weight: bolder;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        user-select: none;
        display: flex;
        align-items: center;

        &:hover {
            @media screen and (min-width: 400px) {
                background: rgba(var(--admin-menu-selected-bg), 0.4);
            }
        }

        .title {
            pointer-events: none;
            margin: 0 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .menu-expand {
            min-width: 10px;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            background: rgb(var(--admin-theme-color));
            clip-path: polygon(30% 0, 50% 0, 80% 50%, 50% 100%, 30% 100%, 60% 50%);
            transition: all 0.4s linear;
        }

        //& + ul {
        //    display: none;
        //}
    }

    // 菜单展开
    .expand {
        .menu-expand {
            transform: rotateZ(90deg);
        }
    }

    // 菜单激活
    .active {
        position: relative;
        background: rgba(var(--admin-menu-selected-bg), 0.6);
        border-right: 4px solid rgb(var(--admin-theme-color));
    }
}
